<html>

<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
	
	<title>Form Pendaftaran Penumpang</title>
</head>
<body>



  <div class="mantap2">
		<div class="mantap3">
			<h1 class="mantap1 mantap3">Form Pendaftaran Penumpang</h1>
		</div>
	</div>


<form th:object="${formData}" th:action="@{/savepenumpang}" method="post">
  <div class="form-group">
    <label for="exampleInputPassword1">NIK</label>
    <input type="text" class="form-control" id="inputnik" placeholder="NIK"  th:field="*{nik}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nama</label>
    <input type="text" class="form-control" id="inputnama" placeholder="Nama"  th:field="*{nama}">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Nomor tilpun</label>
    <input type="text" class="form-control" id="inputtilpun" placeholder="Nomor Tilpun"  th:field="*{telepon}">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
</body>

</html>